.error {
    padding: 15vh;
    height: 90vh;
    width: 100vw;
    flex-direction: column;
}

.error-img {
    width: 40vw;
}

.description {
    max-width: rem(540px);
    margin-top: var(--mantine-spacing-sm);
    margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}